
html, body {
  margin:0;
  padding: 0;
}

.fullWindow{
  text-align: center;
}

header{
	background-color: black;
	color: white;
	height: 148px;
}

span {
  margin-left: 250px;
  margin-right: 250px;
}

.navWrapper {
	background-color: grey;
	color: white;
  height: 55px;
}

.navDiv {
  float: left;
}

.sidebarSection{
	border-right: 1px solid lightgray;
	height: 500px;
}

.mainSection{

}
.img-responsive{
  width: 92px;
}

/*.owl-theme {
  display: inline-block;
  position: relative;
  height:
}
.headWear {
  position: relative;
}*/
